{% extends "layout.html" %}
{% block body %}




<main class="flex-shrink-0">
<div class="container">
        <h1 class="mt-5">Stats for {{username}}</h1>
        <br><p class="lead">
            Current Rating: {{crating}} |
            Peak Rating: {{prating}} |
            Record: {{record}}
        </p>
        <p >Latest game of <a href="https://chess.com/member/{{username}}" target="_blank">{{username}}</a></p>

    </div>

<div class="cbreplay" align="center">
    {{pgn}}
</div>

</main>

{% endblock %}