{% extends "layout.html" %}
{% block body %}




<main class="flex-shrink-0">
<div class="container">
       
        <h1 class="mt-5">

            <a href="https://chess.com/member/{{username}}" target="_blank" style="text-decoration: none;">
            {{ username }}
            </a>
            Games
        </h1>
        <div class="alert" style="padding: 20px;background-color: #34834c; color: white;margin-bottom: 15px;">
            {% if gamelist %}
    Found {{gamelist|length}} games
    {% else %}
    No games found
    {% endif %}
            
        </div>

</div>
<div class="container">
    

    {% for game in gamelist %}

    <li>
        <b>{{game['time']|capitalize}}</b> | White: {{game['white']}} | Black: {{game['black']}} | <a href="{{ game['url'] }}", target="_blank">Link</a>
    </li>
    {% endfor %}


</div>



{% if pgn %}
<div id="boardarea" class="cbreplay" align="center">
    {{pgn}}
</div>
{% endif %}

</main>

{% endblock %}