{% extends "layout.html" %}
{% block body %}




<ul>

<div class="container" align="center">
	<h1 class="mt-5">
		Top 10 Men
	</h1>
<a href="https://2700chess.com" target="_blank">
	<img border="0" src="https://2700chess.com/files/topten.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/>
</a>


</div>

<div class="container" align="center">
	<h1 class="mt-5">
		Top 10 Women
	</h1>
	<a href="https://2700chess.com/women" target="_blank"><img border="0" src="https://2700chess.com/files/topten_women.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/></a>
</div>

</ul>






















{% endblock %}